##############################
# IDE PhpStorm
#############################
/.idea


##############################
# Laravel
#############################

/node_modules
/storage/*.key
/storage/xml_dumps/*
/storage/errorlog
/storage/eventlog
/storage/listenerlog
/storage/systemlog
/public/poster-image/*
/public/images
/public/videos/*
/storage/*

/vendor
.env
npm-debug.log
composer.phar
*.log

/config/database.php
/config/jwt.php
